body{
    background-image: url("https://mega.ibxk.com.br/2020/12/15/15021346565001.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px red;
    background-color: black;
    background-attachment: fixed;
} 