body {
    display: flex; /*centralizar formulário*/
    justify-content: center;  /*centralizar formulário*/
}

fieldset {
    box-shadow: 0px /*sombraDireita*/ 30px /*sombra para baixo*/ 80px /*desfoque*/  rgba(0, 217, 255, 0.329);/*cor*/;
    background-color: #81c9e6ab;
    border-color: rgb(153, 0, 255);
    border-radius: 200%; /*retirar a borda do formulario*/
    text-align: center; /*alinhar o texto no centro do formulário*/
}

h1 {
    box-shadow: 0px /*sombraDireita*/ 5px /*sombra para baixo*/ 10px /*desfoque*/  rgba(163, 157, 255, 0.637);/*cor*/;
    font-style: bold;
}

label {
    font-weight: bold; /*espessura mais grossa para a letra*/
}

input, textarea, select {
    background-color: transparent; /*retirar o fundo do input*/
    border-color: rgba(73, 199, 193, 0.562); /*cor da borda do input*/
}

::placeholder {
    color: black; /*cor do placeholder*/
}

input[type="submit"] {
    background-color: #40b5e4; /*cor dentro do input*/
    color: white; /*cor da letra dentro do input*/
    border-radius: 100px; /*input sem borda*/
    font-size: 15px; /*tamanho da letra dentro do input*/
}
