body {
    background-color: rgb(216, 214, 214); /*cor de fundo do formulário*/
    display: flex; /*centralizar o formulário*/
    justify-content: center; /*centralizar o formulário*/
}

fieldset {
    background-color:white; /*cor de fundo do formulário*/
    filter: blur(2.5px); /*desfocar tudo dentro do formulário*/
    border-width: 10px;
    border-color: black;
}

h1 {
    display: flex; /*centralizar o título*/
    justify-content: center; /*centralizar o título*/
}

input[type="submit"] {
    background-color: black;
    color: red;
}


