.caixa1{
    color: pink;
    padding: 10px;
    background-color: pink;
}

.caixa2{
    color: pink;
    padding: 170px;
    background-color: pink;
}

.caixa3{
    color: pink;
    padding: 10px;
    background-color: pink;
}