body{
    margin: 15px;
}

.caixa{
    color: pink;
    background-color: pink;
    height: 50px;
}

.espacamento{
    display: flex;
    justify-content: space-between;
    
}

.caixas2{
    color: pink;
    background-color: pink;
    height: 350px;
    width: 250px;

}

.caixas{
    color: pink;
    background-color: pink;
    height: 350px;
    width: 600px;
 
}

