body{
    margin: 15px;
}

.caixa1{
    color: pink;
    background-color: pink;
}

.espacamento{
    justify-content: space-between;
    display: flex;
}

.caixa2{
    color: pink;
    background-color: pink;
    padding: 100px;
}

.caixas{
    padding: 200px;
    color: pink;
    background-color: pink;
}


.caixa5{
    color: pink;
    background-color: pink;
}