.caixa{
    color: pink;
    background-color: pink;
    height: 50px;
}

.espacamento{
    display: flex;
    justify-content: space-between;
}

.caixas{
    color: pink;
    background-color: pink;
    height: 350px;
    width: 250px;
}

