@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.sans1{
    font-family: "Sansita", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

.sans2{
    font-family: "Sixtyfour Convergence";
}

@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');

.cursiva1{
    font-family: "Qwitcher Grypen";
}

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.cursiva2{
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}